[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2 = "*"
djangorestframework = "*"
django-model-utils = "*"
django-nativeshortuuidfield = "*"
africastalking = "*"
uuid = "*"
shortuuid = "*"
django-grappelli = "*"
install = "*"
gunicorn = "*"
django-oauth-toolkit = "*"

[dev-packages]

[requires]
python_version = "3.11"
